.about {
  display: flex;
  justify-content: space-between;
}

.about__left {
  width: 500px;
  margin-top: 2rem;
}

.about__title {
  font-size: 2.2rem;
  letter-spacing: 2px;
  line-height: 1.4;
}

.about__btn {
  margin-top: 0.8rem;
  display: inline-block;
  background-color: var(--second-color);
  color: var(--white);
  font-size: 1rem;
  padding: 0.8rem 1.8rem;
  border-radius: var(--radius-sm);
}

.about__img {
  width: 550px;
  height: 350px;
  border-radius: var(--radius-lg);
}

.featured-recipe {
  margin-top: 2rem;
}

.featured-recipe__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.featured-recipe__list {
  margin-top: 1.3rem;
  display: flex;
  gap: 1rem;
}

.featured-recipe__img {
  width: 380px;
  height: 170px;
  border-radius: var(--radius-sm);
}