.hero {
  display: flex;
  justify-content: space-between;
}

.hero__desc {
  width: 500px;
  font-size: 1.3rem;
  margin: 1rem 0 3rem;
}

.hero__btn {
  display: inline-block;
  background-color: var(--second-color);
  color: var(--white);
  font-size: 1rem;
  padding: 0.8rem 1.8rem;
  border-radius: var(--radius-sm);
}

.hero__img {
  width: 500px;
  height: 300px;
  border-radius: var(--radius-lg);
}

.recipe__overlay {
  width: 100%;
  height: 2px;
  background-color: var(--second-color);
  border-radius: 8px;
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero__left {
    order: 2;
  }

  .hero__right {
    order: 1;
  }

  .hero__desc {
    width: 350px;
    font-size: 1.2rem;
    margin: 2rem 0 3rem;
  }

  .hero__img {
    width: 350px;
    height: 270px;
  }
}